.lifequality-container .legend-y {
  position: absolute;
  transform: rotate(-90deg);
  left: -45px;
  top:   75px;
  font-size:  10px;
  font-weight: 300;
  color: #a1a1a1;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lifequality-container .legend-x {
  font-size: 11px;
  font-weight: 300;
  color: #a1a1a1;
  cursor: default;
  /*position: absolute;*/
  bottom: -30px;
  width: 60%;
  margin-top: 10px;
}

.lifequality-container .selected-info{
  display: flex;
  font-size: 11px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-out;
  height: 20px;
}

.lifequality-container .info {
  margin: 5px;
  min-width: 10px;
  min-height:10px;
  border-radius: 50%;
  transition: all 300ms ease-out;
}

.lifequality-container .weather-info { background: #B5E000; display: none;}
.lifequality-container .safety-info  { background: #FABE0F; display: none;}
.lifequality-container .traffic-info { background: #0F3445; display: none;}
.lifequality-container .airq-info    { background: #15AFBD; display: none;}

.lifequality-container line, path {
  transition: all 300ms ease-out;
}

.lifequality-container image {
  height: 150px;
  width:  150px;
}

.lifequality-container {
  font-family: sans-serif;
  width: 210px;
  /*height: 150px;*/
  position: relative;
  /*margin-top: 80px;*/
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lifequality-title {
  /*position: absolute;
  top: -35px;*/
  width: 100%;
}

.lifequality-container h1 {
  font-weight: 100;
  padding-left: 3%;
  margin:  0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  font-weight: 300;
  color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Raleway', sans-serif;
}

.lifequality-container h1 .title-right {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: #a1a1a1;
  text-transform: uppercase;
  font-weight: 700;
}

.lifequality-container h1 .title-right span {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.lifequality-container h2 {
  margin:  0;
  padding: 0;
  font-size: 11px;
  color: #a1a1a1;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.lifequality-container h2 span {
  font-size: 11px;
  color: green;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.lifequality-container svg {
  overflow:  visible;
  /*position: absolute;
  top:  4px;
  left: 0;*/
  width:  150px;
  height: 150px;
  align-self: flex-start;
}

.lifequality-container img {
  position: absolute;
  width:  150px;
  height: 150px;
}

.lifequality-container .svg-text {
  margin-top:  10px;
  margin-left: 10px;
  font-size:   11px;
  transition: all 500ms ease-out;
  font-weight: 700;
}

.lifequality-container .legend-z {
  font-size: 11px;
  font-weight: 500;
  color: #b1b1b1;
  margin-bottom: 3px;
}
