/* CSS declarations go here */

.series-container .performance-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  align-self: flex-end;
}

.series-container .predic-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  text-align: end;
}

.series-container .predic-text b {
  font-weight: normal;
}

.series-container .predic-text span {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #424242;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0.5;
}

.series-container .udots-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3px;
  position: absolute;
  width: 100%;
  top: -57px;
  left: 0;
  transition: all 200ms ease-out;
}

.series-container .uparrow {
  position: absolute;
  color: rgb(66, 66, 66);
  bottom: -24px;
  margin-left: 19px;
}

.series-container .chance-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
}

.series-container .chance-sub {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

.series-container .legend-sub {
  padding: 0;
  margin: 0;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
}

.series-container .courses-title {
  background: #fcfcfc;
}

.series-container .uncertainty-sentence p {
  margin: 0 0 0px;
  font-size: 14px;
}

.series-container .uncertainty-sentence span {
  color: #424242;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.series-container .uncertainty-sentence b {
  font-size: 20px;
  color: #424242;
  font-weight: 500;
}

.series-container .overall-details {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.series-container .detail  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #424242;
}

.series-container .detail-top {
  font-size: 20px;
  font-weight: 500;
}

.series-container .detail-text {
  font-size: 16px;
  color: #757575;
  font-weight: 300;
}

.series-container .umeter {
  width: 200px;
  height: 3px;
  background: white;
  border-top: 1px solid #a1a1a1;
  display: flex;
  height: 10px;
  position: relative;
  font-family: Roboto, sans-serif;
}

.series-container .umeter .um {
  font-size: 9px;
  color: #424242;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15px;
  padding-top: 3px;
}

.series-container .ubar-main {
  display: flex;
  transition: all 200ms ease-out;
  /*border-left: 1px solid #424242;
  border-right: 1px solid #424242;*/
  height: 2px;
}
/*.ubar-left { transition: all 200ms ease-out; }
.ubar-right { transition: all 200ms ease-out; }*/


.series-container .umeter-ticks {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: space-around;
  top: -20px;
  width: 200px;
}

.series-container .utick {
  width: 30px;
  width: 30px;
  color: #757575;
  font-size: 20px;
  justify-content: flex-end;
  display: flex;
  opacity: 0.45;
}

.series-container {
  /*width:  250px;*/
  height: 225px;
  cursor: default;
  position: relative;
  font-family: "Raleway",sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.series-viz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.series-viz-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.series-viz-content h1 {
  padding: 0;
  margin: 3px 0 0 0;
  font-size: 11px;
  font-family: sans-serif;
  color: #a1a1a1;
  font-weight: 300;
}

.series-container .dots-value {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  font-size: 10px;
  font-weight: 500;
  top: -1px;
  /* background: white; */
  /* padding: 0 5px; */
  border-radius: 50%;
  transition: all 400ms ease-out;
  align-items: center;
  justify-content: center;
}

.series-container .dotplot-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-direction: column;*/
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  color: #424242;
}

.series-container .dotplot-legend span {
  font-size: 11px;
  color: #a1a1a1;
  padding-top: 1px;
}

.series-container .dotplot-title {
  width: 100%;
}

.series-container .dotplot-title h1 {
  font-weight: 100;
  padding-left: 3%;
  margin:  0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  font-weight: 300;
  color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Raleway', sans-serif;
}

.series-container .dotplot-title h1 .title-right {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: #a1a1a1;
  text-transform: uppercase;
  font-weight: 700;
}

.series-container .dotplot-title h1 .title-right span {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.series-container .dotplot-title h2 {
  margin:  0;
  padding: 0;
  font-size: 11px;
  color: #a1a1a1;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.series-container .dotplot-title h2 span {
  font-size: 11px;
  color: green;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}
