.question {
  font-family: 'Raleway', sans-serif;
  display: flex;
  height: 200px;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.question-number {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 100;
  color: #a7a7ae;
  margin: 10px 10px 0 10px;
}

.question-head {
  font-weight: 500;
  font-size: 20px;
  color: #a7a7ae;
  margin-top: 20px;
}

.question-body {
  font-weight: 100;
  font-size: 22px;
  margin: 0px;
  color: #868686;
}

.question-footer {
  margin: 0;
  font-weight: 500;
  color: #A1A1A1;
  font-size: 14px;
  margin-bottom: 15px;
}

.question .answers {
  display: flex;
  color: #424242;
  margin-top: 10px;
}

.answers-column {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.answers-column paper-checkbox {
  margin-top: 10px;
}
